/* Buttons */
.btn-primary,
.custom-btn {
    background-color: #195657;
    border-color: #195657;
    color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.custom-btn:hover,
.custom-btn:focus {
    background-color: #123e40;
    border-color: #123e40;
}

/* Textfeld für GeoJSON */
.mt-4 .form-control {
    margin-bottom: 15px; /* Ändere die Anzahl der Pixel nach Bedarf */
}

/* Buttons im Textfeld */
.col-md-6.d-flex.align-items-end button {
    background-color: #195657;
    border-color: #195657;
    color: white; /* Textfarbe auf Weiß ändern */
    margin-right: 10px; /* Abstand zwischen den Buttons hinzufügen */
}

.col-md-6.d-flex.align-items-end button:hover,
.col-md-6.d-flex.align-items-end button:focus {
    background-color: #123e40; /* Dunklere Hintergrundfarbe im Hover/Fokus-Zustand */
    border-color: #123e40;
}

